<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<br>

<div class="card" th:each="customer : ${customers}">
    <div class="card-body">
    <h4 th:text="${customer.firstName} + ' ' + ${customer.lastName}"></h4>
        <p th:text="${customer.streetAddress}"></p>
        <p th:text="${customer.city} + ', ' + ${customer.state} + ' ' + ${customer.zip}"></p>
        <p th:text="${customer.email}"></p>
        <p th:text="${customer.phone}"></p>
        <p th:text="${customer.subscriptionLength} + ' Month Subscription'"></p>
        <a th:href="@{/edit-customer/{id}(id=${customer.id})}" class="btn btn-warning">Edit Customer</a>
        <a th:href="@{/delete-customer/{id}(id=${customer.id})}" class="btn btn-danger">Delete Customer</a>
    </div>
</div>

</body>
</html>